nav {
  // width: 250px;
  position: fixed;
  right: 5em;
  background-color: white;
  padding: 1em 0;
  z-index: 999;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: x-small;

  a {
    color: #333;
    text-decoration: none;
    padding: 0.5em;
    display: block;

    border-left: 1px solid white;
    margin-left: -1px;

    &.active {
      background-color: #dfd;
      border-left-color: green;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    ul {
      // display: none;
    }
  }

  > ul {
    padding-left: 1px;
    margin-left: 1px;

    > li > a {
      font-weight: bold;
    }
  }

  li li > a {
    padding-left: 1em;
  }

  li li li > a {
    padding-left: 2em;
  }

  li li li li > a {
    padding-left: 3em;
  }

  li {
  }

  ul.active {
    ul {
      display: block;
    }
  }
}

html {
  // margin-right: 000px;
  padding-right: 200px;
}
