{
  "debug": true,
  "database": {
    "host": "127.0.0.1",
    "username": "vagrant",
    "password": "vagrantpw",
    "dbname": "kirkanta"
  },
  "languages": ["fi", "en", "sv", "se", "ru"],
  "fallbackLanguage": "fi"
}
