{
  "debug": true,
  "server": {
    "address": "127.0.0.1",
    "port": 8000
  },
  "database": {
    "host": "127.0.0.1",
    "username": "dbuser",
    "password": "dbpw",
    "dbname": "somedb"
  },
  "languages": ["fi", "en", "sv", "se", "ru"],
  "fallbackLanguage": "fi"
}
