@media (max-width: 800px) {
  /* line 2, ../scss/adaptive.scss */
  nav {
    position: static;
    float: left;
    clear: both;
  }
}
@media (max-width: 999px) {
  /* line 10, ../scss/adaptive.scss */
  body {
    padding: 1em;
  }
}
@media (min-width: 800px) {
  /* line 17, ../scss/adaptive.scss */
  main {
    margin-right: 15%;
  }

  /* line 20, ../scss/adaptive.scss */
  nav {
    margin-left: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 46, ../scss/adaptive.scss */
  nav {
    margin-left: 70%;
  }
}
