@media (max-width: 800px) {
  /* line 2, ../scss/adaptive.scss */
  nav {
    position: static;
    float: left;
  }
}
@media (max-width: 999px) {
  /* line 9, ../scss/adaptive.scss */
  body {
    padding: 1em;
  }
}
@media (min-width: 800px) {
  /* line 16, ../scss/adaptive.scss */
  main {
    margin-right: 15%;
  }

  /* line 19, ../scss/adaptive.scss */
  nav {
    margin-left: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 45, ../scss/adaptive.scss */
  nav {
    margin-left: 70%;
  }
}
