/* line 2, ../scss/navigation.scss */
nav {
  position: fixed;
  background-color: white;
  padding: 1em 0;
  z-index: 999;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: x-small;
}
/* line 13, ../scss/navigation.scss */
nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  border-left: 1px solid white;
  margin-left: -1px;
}
/* line 22, ../scss/navigation.scss */
nav a.active {
  background-color: #dfd;
  border-left-color: green;
}
/* line 28, ../scss/navigation.scss */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 38, ../scss/navigation.scss */
nav > ul {
  padding-left: 1px;
  margin-left: 1px;
}
/* line 42, ../scss/navigation.scss */
nav > ul > li > a {
  font-weight: bold;
}
/* line 47, ../scss/navigation.scss */
nav li li > a {
  padding-left: 1em;
}
/* line 51, ../scss/navigation.scss */
nav li li li > a {
  padding-left: 2em;
}
/* line 55, ../scss/navigation.scss */
nav li li li li > a {
  padding-left: 3em;
}
/* line 63, ../scss/navigation.scss */
nav ul.active ul {
  display: block;
}

@media (max-width: 800px) {
  /* line 2, ../scss/adaptive.scss */
  nav {
    position: static;
    float: left;
  }
}
@media (max-width: 999px) {
  /* line 9, ../scss/adaptive.scss */
  body {
    margin: 0;
    padding: 1em;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  /* line 16, ../scss/adaptive.scss */
  body {
    width: 600px;
  }

  /* line 20, ../scss/adaptive.scss */
  nav {
    margin-left: 620px;
  }
}
@media (min-width: 1000px) {
  /* line 26, ../scss/adaptive.scss */
  body {
    width: 600px;
  }

  /* line 30, ../scss/adaptive.scss */
  nav {
    margin-left: 620px;
  }
}
@media (min-width: 1200px) {
  /* line 36, ../scss/adaptive.scss */
  body {
    width: 800px;
  }

  /* line 40, ../scss/adaptive.scss */
  nav {
    margin-left: 820px;
  }
}
